# obsidian configurations
.obsidian/

# JPEG
*.jpg
*.jpeg
*.jpe
*.jif
*.jfif
*.jfi

# Graphics Interchange Format
*.gif

# RAW
*.raw

# Web P
*.webp

# Portable Network Graphics
*.png

# Scalable Vector Graphics
*.svg
*.svgz

# Portable Document Format
*.pdf

# X BitMap
*.xbm

# BMP
*.bmp
*.dib


